In [2]:
from bs4 import BeautifulSoup as bs
import requests
import time, os
import pandas as pd
import numpy as np
import csv
from itertools import zip_longest
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium import webdriver

# Data Cleaning

In [86]:
DF0=pd.read_csv("/Users/shahadfahad/Desktop/p/datacoby1.csv")

In [87]:
DF0

,hotel,Price,rating,reviews,loc
0,NaN,NaN,NaN,NaN,NaN
1,Al Waha Palace Hotel,SAR307,7.8,"2,098 reviews",1.8 km from center
2,NaN,NaN,NaN,NaN,NaN
3,Voyage Hotel,SAR466,8.6,"4,111 reviews",3.8 km from center
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
913,منتجع نزل الدرعية,"SAR7,000",NaN,NaN,16.2 km from center
914,NaN,NaN,NaN,NaN,NaN
915,شقة فاخره في برج رافال,"SAR3,000",NaN,NaN,11.9 km from center
916,NaN,NaN,NaN,NaN,NaN
917,ال متعب سويتس الياسمين,SAR700,NaN,NaN,15.1 km from center

In [88]:
DF0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hotel    404 non-null    object
 1   Price    404 non-null    object
 2   rating   353 non-null    float64
 3   reviews  353 non-null    object
 4   loc      404 non-null    object
dtypes: float64(1), object(4)
memory usage: 36.0+ KB

In [93]:
DF0.dropna(subset=['rating', 'reviews'],inplace=True)
DF0

,hotel,Price,rating,reviews,loc
1,Al Waha Palace Hotel,307,7.8,"2,098 reviews",1.8 km from center
3,Voyage Hotel,466,8.6,"4,111 reviews",3.8 km from center
5,Carawan Al Fahad Hotel,350,8.1,"2,299 reviews",2 km from center
7,Gloria Inn Riyadh,326,7.9,"4,054 reviews",8.1 km from center
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,"2,158 reviews",9.8 km from center
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109 reviews,15.8 km from center
851,Sweet Homes,300,8.2,327 reviews,14.5 km from center
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191 reviews,14.9 km from center
861,شاليه,1500,7.9,229 reviews,26.1 km from center
905,شالية فهد,1100,7.4,"2,158 reviews",15.8 km from center

In [94]:
DF0.Price = DF0.Price.str.replace('SAR', '') 
DF0

,hotel,Price,rating,reviews,loc
1,Al Waha Palace Hotel,307,7.8,"2,098 reviews",1.8 km from center
3,Voyage Hotel,466,8.6,"4,111 reviews",3.8 km from center
5,Carawan Al Fahad Hotel,350,8.1,"2,299 reviews",2 km from center
7,Gloria Inn Riyadh,326,7.9,"4,054 reviews",8.1 km from center
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,"2,158 reviews",9.8 km from center
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109 reviews,15.8 km from center
851,Sweet Homes,300,8.2,327 reviews,14.5 km from center
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191 reviews,14.9 km from center
861,شاليه,1500,7.9,229 reviews,26.1 km from center
905,شالية فهد,1100,7.4,"2,158 reviews",15.8 km from center

In [95]:
DF0.Price = DF0.Price.str.replace(',', '') 
DF0

,hotel,Price,rating,reviews,loc
1,Al Waha Palace Hotel,307,7.8,"2,098 reviews",1.8 km from center
3,Voyage Hotel,466,8.6,"4,111 reviews",3.8 km from center
5,Carawan Al Fahad Hotel,350,8.1,"2,299 reviews",2 km from center
7,Gloria Inn Riyadh,326,7.9,"4,054 reviews",8.1 km from center
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,"2,158 reviews",9.8 km from center
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109 reviews,15.8 km from center
851,Sweet Homes,300,8.2,327 reviews,14.5 km from center
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191 reviews,14.9 km from center
861,شاليه,1500,7.9,229 reviews,26.1 km from center
905,شالية فهد,1100,7.4,"2,158 reviews",15.8 km from center

In [96]:
DF0['Price'] = DF0['Price'].str.extract('(\d+)')
DF0.Price = DF0.Price.astype('int64')

In [97]:
np.dtype(DF0['Price'])

dtype('int64')

In [98]:
DF0

,hotel,Price,rating,reviews,loc
1,Al Waha Palace Hotel,307,7.8,"2,098 reviews",1.8 km from center
3,Voyage Hotel,466,8.6,"4,111 reviews",3.8 km from center
5,Carawan Al Fahad Hotel,350,8.1,"2,299 reviews",2 km from center
7,Gloria Inn Riyadh,326,7.9,"4,054 reviews",8.1 km from center
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,"2,158 reviews",9.8 km from center
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109 reviews,15.8 km from center
851,Sweet Homes,300,8.2,327 reviews,14.5 km from center
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191 reviews,14.9 km from center
861,شاليه,1500,7.9,229 reviews,26.1 km from center
905,شالية فهد,1100,7.4,"2,158 reviews",15.8 km from center

In [99]:
DF0.reviews = DF0.reviews.str.replace('reviews', '') 
DF0

,hotel,Price,rating,reviews,loc
1,Al Waha Palace Hotel,307,7.8,"2,098",1.8 km from center
3,Voyage Hotel,466,8.6,"4,111",3.8 km from center
5,Carawan Al Fahad Hotel,350,8.1,"2,299",2 km from center
7,Gloria Inn Riyadh,326,7.9,"4,054",8.1 km from center
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,"2,158",9.8 km from center
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109,15.8 km from center
851,Sweet Homes,300,8.2,327,14.5 km from center
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191,14.9 km from center
861,شاليه,1500,7.9,229,26.1 km from center
905,شالية فهد,1100,7.4,"2,158",15.8 km from center

In [100]:
DF0.reviews = DF0.reviews.str.replace(',', '') 
DF0

,hotel,Price,rating,reviews,loc
1,Al Waha Palace Hotel,307,7.8,2098,1.8 km from center
3,Voyage Hotel,466,8.6,4111,3.8 km from center
5,Carawan Al Fahad Hotel,350,8.1,2299,2 km from center
7,Gloria Inn Riyadh,326,7.9,4054,8.1 km from center
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,2158,9.8 km from center
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109,15.8 km from center
851,Sweet Homes,300,8.2,327,14.5 km from center
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191,14.9 km from center
861,شاليه,1500,7.9,229,26.1 km from center
905,شالية فهد,1100,7.4,2158,15.8 km from center

In [101]:
(DF0['reviews'])

1      2098
3      4111
5      2299
7      4054
9      2158
       ...
825     109
851     327
857     191
861     229
905    2158
Name: reviews, Length: 353, dtype: object

In [102]:
DF0.dropna(subset=['rating', 'reviews'],inplace=True)

In [103]:
DF0.isna().sum()

hotel      0
Price      0
rating     0
reviews    0
loc        0
dtype: int64

In [104]:
DF0[['loc(km from center)', 'loc']] = DF0['loc'].str.split(' ', 1, expand=True)

In [105]:
DF0

,hotel,Price,rating,reviews,loc,loc(km from center)
1,Al Waha Palace Hotel,307,7.8,2098,km from center,1.8
3,Voyage Hotel,466,8.6,4111,km from center,3.8
5,Carawan Al Fahad Hotel,350,8.1,2299,km from center,2
7,Gloria Inn Riyadh,326,7.9,4054,km from center,8.1
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,2158,km from center,9.8
...,...,...,...,...,...,...
825,شالية فهد,1100,7.4,109,km from center,15.8
851,Sweet Homes,300,8.2,327,km from center,14.5
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191,km from center,14.9
861,شاليه,1500,7.9,229,km from center,26.1
905,شالية فهد,1100,7.4,2158,km from center,15.8

In [106]:
DF0.drop(columns=['loc'],inplace=True)
DF0

,hotel,Price,rating,reviews,loc(km from center)
1,Al Waha Palace Hotel,307,7.8,2098,1.8
3,Voyage Hotel,466,8.6,4111,3.8
5,Carawan Al Fahad Hotel,350,8.1,2299,2
7,Gloria Inn Riyadh,326,7.9,4054,8.1
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,2158,9.8
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109,15.8
851,Sweet Homes,300,8.2,327,14.5
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191,14.9
861,شاليه,1500,7.9,229,26.1
905,شالية فهد,1100,7.4,2158,15.8

In [107]:
DF0.isna().sum()

hotel                  0
Price                  0
rating                 0
reviews                0
loc(km from center)    0
dtype: int64

In [108]:
DF0

,hotel,Price,rating,reviews,loc(km from center)
1,Al Waha Palace Hotel,307,7.8,2098,1.8
3,Voyage Hotel,466,8.6,4111,3.8
5,Carawan Al Fahad Hotel,350,8.1,2299,2
7,Gloria Inn Riyadh,326,7.9,4054,8.1
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,2158,9.8
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109,15.8
851,Sweet Homes,300,8.2,327,14.5
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191,14.9
861,شاليه,1500,7.9,229,26.1
905,شالية فهد,1100,7.4,2158,15.8

In [109]:
DF0.drop_duplicates(inplace=True)
DF0

,hotel,Price,rating,reviews,loc(km from center)
1,Al Waha Palace Hotel,307,7.8,2098,1.8
3,Voyage Hotel,466,8.6,4111,3.8
5,Carawan Al Fahad Hotel,350,8.1,2299,2
7,Gloria Inn Riyadh,326,7.9,4054,8.1
9,Rest Night Hotel Suites- - AL Nafal,250,7.4,2158,9.8
...,...,...,...,...,...
825,شالية فهد,1100,7.4,109,15.8
851,Sweet Homes,300,8.2,327,14.5
857,Mabaat Homes - Al Malqa - Luxury Apartment,1000,6.4,191,14.9
861,شاليه,1500,7.9,229,26.1
905,شالية فهد,1100,7.4,2158,15.8

# Get the final prepared dataframe

In [110]:
DF0.to_csv("DataBooking.csv")